@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Peter Petrov<br />
    Student at Technical University of Sofia<br />
    Faculty number: 121318034<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:pepetrov@tu-sofia.bg">pepetrov@tu-sofia.bg</a><br />
</address>